<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    
  <application>
    <service
      android:name=".ScreenRecordService"
      android:exported="false"
      android:foregroundServiceType="mediaProjection"
      android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
  </application>
</manifest>
